.heading {

    &--h1 {
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        color: #142138;
    }

    &--h2 {
        font-size: 25px;
        font-weight: 700;
        line-height: 37px;
        color: #142138;
    }

    &--h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #000000;
    }
}

@media screen and (max-width: 420px) {

    .heading {
        &--h1 {
            font-size: 24px;
            line-height: 35px;
        }
        &--h2 {
            font-size: 20px;
            line-height: 30px;
        }
        &--h3 {
            font-size: 18px;
            line-height: 24px;
        }
    }

}