.header {
    display: flex;
    justify-content: center;
    padding: 58px 0 53px;
    &__link {
        display: block;
    }
    &__logo {
        width: 200px;
        display: block;
    }
}

@media screen and (max-width: 480px) {

    .header {
        padding: 32px 0;
    }

}