.radio {
    input[type="radio"] {
        &:checked {
            & + .radio__label {
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    &__label {
        padding-left: 45px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #142138;
        position: relative;
        display: flex;
        align-items: center;
        &:before {
            content: "";
            width: 24px;
            height: 24px;
            border: 2px solid #2eb779;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #2eb779;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            left: 7px;
            opacity: 0;
        }
    }

    &--with-tooltip {
        .radio {
            &__label {
                .label {
                    &__text {
                        max-width: calc(100% - 34px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {

    .radio {
        &__tooltip {
            &::before {
                bottom: auto;
                right: auto;
                top: -5px;
                left: 22px;
                transform: translate(-100%, -100%);
            }
        }
    }

}

@media screen and (max-width: 420px) {

    .radio {
        &__label {
            font-size: 14px;
            line-height: 22px;
            &::before {
                width: 22px;
                height: 22px;
            }
            &::after {
                top: 6px;
                left: 6px;
            }
        }
        &__tooltip {
            &::before {
                font-size: 12px;
                line-height: 18px;
                bottom: auto;
                right: auto;
                top: -5px;
                left: 22px;
                transform: translate(-100%, -100%);
            }
        }
    }

}