// Variables
$green: #2eb779;
$dark: #142138;
$gray: #e5e5e5;

// Imports
@import '_reset';
@import '_template-calculator';

// Import components
@import 'components/_loader';
@import 'components/_header';
@import 'components/_section';
@import 'components/_heading';
@import 'components/_btn';
@import 'components/_timeline';
@import 'components/_checkbox';
@import 'components/_radio';
@import 'components/_custom-input';
@import 'components/_price';